<section class="footer">
    <div class="container mx-auto pt-20 pl-10 pb-10">
        <div class="row">
            <div class="flex flex-row">
                <div class="col basis-18">
                    <ul class="footer__social-list">
                        <li><a href="#"><img src="/assets/imgs/Group.svg" alt="No svg" /></a></li>
                        <p>Call us: +84 908 02 02 58</p>
                        <li><a href="#"><img src="/assets/imgs/email-4 1.svg" alt="No svg" /></a></li>
                        <p>Email: chucinog@gmail.com</p>
                    </ul>
                </div>
                <div class="col-auto basis-18 pl-60">
                    <ul class="footer__title">
                        <p>Follow us</p>
                        <hr color="#000" width="40px" height="5px">
                        <li><a href="#"><img src="/assets/imgs/facebook-3 1.svg" alt="No svg" /></a></li>
                        <li><a href="#"><img src="/assets/imgs/instagram-4 1.svg" alt="No svg" /></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>