<section class="top-bar z-10 w-full bg-[#4D46FA]">
    <div class="container mx-auto pl-5">
        <div class="row">
            <div class="flex flex-row">
                <div class="col basis-18">
                    <ul class="top-bar__social-list">
                        <li><a href="#"><img src="/assets/imgs/Baycungban.svg" alt="No svg" /></a></li>
                        <li><a href="#"><img src="/assets/imgs/vietnam 1.svg" alt="No svg" /></a></li>
                        <li><a href="#"><img src="/assets/imgs/united-states 1.svg" alt="No svg" /></a></li>
                    </ul>
                </div>
                <div class="col-auto basis-18">
                    <ul class="top-bar__title">
                        <li><a href="#">Promotion</a></li>
                        <li><a href="#">Flight Schedule</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Payment Guide</a></li>
                    </ul>
                </div>
                <div class="top-bar__btn basis-18">
                    <button class="btn-booking">Booking now</button>
                </div>
            </div>
        </div>
    </div>
</section>