@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-change{
    display: inline-flex;
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    background: #F06336;
    color: #FFF;
}
.btn-choose {
    display: inline-flex;
    padding: 6px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    background: rgba(240, 99, 54, 0.10);
    color: #F06336;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.btn-choose-2{
    display: inline-flex;
    padding: 6px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    background: #F06336;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}