<app-header2></app-header2>
<section class="bg-white w-full">
    <div class="navbar">
        <div class="container">
            <div class="flex flex-row">
                <div class="col pt-5 pb-5">
                    <div class="city flex ml-32">
                        <ul class="navbar__city">
                            <li><span class="text-[#4D46FA] text-xl font-bold">Da Nang (DAD)</span></li>
                            <li><span>Fri, 22 Mar, 2022</span></li>
                        </ul>
                        <img src="/assets/imgs/Frame 4.svg" alt="No svg" class="pl-12" />
                        <ul class="navbar__city pl-14">
                            <li><span class="text-[#4D46FA] text-xl font-bold">Ho Chi Minh (SGN)</span></li>
                            <li><span>Fri, 22 Mar, 2022</span></li>
                        </ul>
                        <div class="list pl-14">
                            <ul class="navbar__list flex items-center">
                                <li><span class="text-base font-bold pr-5">Round-trip</span></li>
                                <div class="border h-8"></div>
                                <li><span class="pl-5 text-base font-bold pr-5"><span class="text-[#4D46FA]">02</span>
                                        Adult,
                                        <span class="text-[#4D46FA]">01</span> children</span></li>
                                <div class="border h-8"></div>
                                <li><span class="pl-5 text-base font-bold">Business Class</span></li>
                            </ul>
                        </div>
                        <div class="btn pl-20">
                            <button class="btn-change text-base font-semibold">Search Flights</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content bg-[#F4F2F9]">
        <div class="container mx-auto">
            <div class="row">
                <div class="grid grid-cols-3 gap-4 pt-5">
                    <div class="col-span-2">
                        <div class="filter flex flex-row-reverse">
                            <div class="border rounded-xl w-32 h-10 bg-white ml-2 flex items-center">
                                <span class="ml-2">Transit</span>
                                <img src="/assets/imgs/Vector 4.svg" alt="No svg" class="ml-14" />
                            </div>
                            <div class="border rounded-xl w-32 h-10 bg-white ml-2 flex items-center">
                                <span class="ml-2">Time</span>
                                <img src="/assets/imgs/Vector 4.svg" alt="No svg" class="ml-16" />
                            </div>
                            <div class="border rounded-xl w-32 h-10 bg-white ml-2 flex items-center">
                                <span class="ml-2">Airline</span>
                                <img src="/assets/imgs/Vector 4.svg" alt="No svg" class="ml-14" />
                            </div>
                            <div class="rborder rounded-xl w-36 h-10 bg-white flex items-center">
                                <span class="ml-2">Low Price</span>
                                <img src="/assets/imgs/Vector 4.svg" alt="No svg" class="ml-12" />
                            </div>
                            <span class="mr-5 font-bold text-lg text-[#c1c0c6] flex items-center">Filter</span>
                        </div>
                        <div class="ticket ml-6 mt-2">
                            <div class="rounded-lg bg-white w-full">
                                <div class="pt-3 flex">
                                    <div class="flex items-center">
                                        <div class="flex">
                                            <img src="/assets/imgs/Rectangle 20.png" alt="No svg" class="ml-4" />
                                            <span class="font-semibold text-base ml-3">BAMBOO AIRWAYS</span>
                                        </div>
                                    </div>
                                    <div class="flex items-center pl-2">
                                        <div class="pl-3">
                                            <span class="text-base font-bold">21:40</span>
                                            <div class="border rounded-xl w-11 bg-[#edecfe] flex justify-center">
                                                <span class="text-base font-bold">DAD</span>
                                            </div>
                                        </div>
                                        <div class="pl-5 flex flex-col">
                                            <span class="mx-auto">1h 30m</span>
                                            <img src="/assets/imgs/Group 9.svg" alt="No svg" />
                                            <span class="mx-auto">Direct</span>
                                        </div>
                                        <div class="pl-5">
                                            <span class="text-base font-bold">23:10</span>
                                            <div class="border rounded-xl w-11 bg-[#edecfe] flex justify-center">
                                                <span class="text-base font-bold">DAD</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pl-3">
                                        <div>
                                            <div class="flex items-center">
                                                <img src="/assets/imgs/suitcase-2 1.svg" alt="No svg" />
                                                <p class="ml-2">Baggage</p>
                                                <span class="ml-1 text-[#4D46FA] font-semibold">20kg</span>
                                            </div>
                                            <div class="flex items-center">
                                                <img src="/assets/imgs/cutlery-2 1.svg" alt="No svg" />
                                                <p class="ml-2">In-flight</p>
                                                <span class="ml-1 text-[#4D46FA] font-semibold">Meal</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pl-3">
                                        <div>
                                            <span class="line-through text-[#9d9d9d]">1,326,000 vnd</span>
                                        </div>
                                        <div>
                                            <span class="text-[#F06336]">1,322,000 vnd</span>
                                        </div>
                                    </div>
                                    <div class="pl-3 flex items-center">
                                        <button class="btn-choose">Choose</button>
                                    </div>
                                </div>
                                <div class="pt-4">
                                    <div class="flex ml-4">
                                        <span class="text-[#4D46FA] text-sm font-bold">
                                            <u class="">FLIGHT DETAIL</u>
                                        </span>
                                        <span class="text-[#9d9d9d] text-sm font-bold ml-4 mr-9">FARE INFO</span>
                                        <div class="flex items-center">
                                            <hr class="w-[563px]">
                                        </div>
                                    </div>
                                </div>
                                <div class="grid grid-cols-5 mt-3 h-56 pb-9">
                                    <div class="col-span-2 flex">
                                        <div class="flex flex-col justify-between ml-5">
                                            <div class="flex flex-col">
                                                <span class="text-lg font-bold">21:40</span>
                                                <span class="text-base">11 Feb</span>
                                            </div>
                                            <span>1h 30m</span>
                                            <div class="flex flex-col">
                                                <span class="text-lg font-bold">21:40</span>
                                                <span class="text-base">11 Feb</span>
                                            </div>
                                        </div>
                                        <img src="/assets/imgs/Group 5.svg" class="ml-5" alt="No svg" />
                                        <div class="flex flex-col justify-between ml-5">
                                            <div class="flex flex-col">
                                                <span class="text-lg font-bold">Da Nang(DAD)</span>
                                                <span class="text-base">Da Nang Airport</span>
                                            </div>
                                            <div class="flex flex-col">
                                                <span class="text-lg font-bold">Ho Chi Minh City(SGN)</span>
                                                <span class="text-base">Tan Son Nhat Intl</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-span-3">
                                        <div class="flex items-center">
                                            <div class="">
                                                <img src="/assets/imgs/Rectangle 20.png" alt="No svg" class="ml-4" />
                                            </div>
                                            <div class="flex flex-col ml-3">
                                                <span class="text-lg font-semibold">BAMBOO AIRWAYS</span>
                                                <span class="text-xs"><span>QH-183 </span><span>.</span><span>
                                                        Economy</span></span>
                                            </div>
                                        </div>
                                        <div class="border rounded-lg bg-[#F4F2F9] ml-4 mr-6 mt-3">
                                            <div class="flex mt-4 mb-4">
                                                <div class="flex flex-col ml-4">
                                                    <span class="text-base mb-1"><span>Baggage
                                                        </span><span class="text-[#4D46FA] font-bold">20kg</span></span>
                                                    <span class="text-base mb-1"><span>In-flight
                                                        </span><span class="text-[#4D46FA] font-bold">Meal</span></span>
                                                    <span class="text-base"><span>In-flight
                                                        </span><span
                                                            class="text-[#4D46FA] font-bold">Entertainment</span></span>
                                                </div>
                                                <div class="flex flex-col ml-8">
                                                    <span class="text-base mb-1"><span>Aircraft </span><span
                                                            class="text-[#4D46FA] font-bold">Airbus
                                                            A321</span></span>
                                                    <span class="text-base mb-1"><span>Seat
                                                            layout </span><span
                                                            class="text-[#4D46FA] font-bold">3-3</span></span>
                                                    <span class="text-base"><span>Seat pitch </span><span
                                                            class="text-[#4D46FA] font-bold">29
                                                            inches(standard)</span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ticket ml-6 mt-2">
                            <div class="rounded-lg bg-white w-full">
                                <div class="pt-3 flex">
                                    <div class="flex items-center">
                                        <div class="flex">
                                            <img src="/assets/imgs/Rectangle 20.png" alt="No svg" class="ml-4" />
                                            <span class="font-semibold text-base ml-3">BAMBOO AIRWAYS</span>
                                        </div>
                                    </div>
                                    <div class="flex items-center pl-2">
                                        <div class="pl-3">
                                            <span class="text-base font-bold">21:40</span>
                                            <div class="border rounded-xl w-11 bg-[#edecfe] flex justify-center">
                                                <span class="text-base font-bold">DAD</span>
                                            </div>
                                        </div>
                                        <div class="pl-5 flex flex-col">
                                            <span class="mx-auto">1h 30m</span>
                                            <img src="/assets/imgs/Group 9.svg" alt="No svg" />
                                            <span class="mx-auto">Direct</span>
                                        </div>
                                        <div class="pl-5">
                                            <span class="text-base font-bold">23:10</span>
                                            <div class="border rounded-xl w-11 bg-[#edecfe] flex justify-center">
                                                <span class="text-base font-bold">DAD</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pl-3">
                                        <div>
                                            <div class="flex items-center">
                                                <img src="/assets/imgs/suitcase-2 1.svg" alt="No svg" />
                                                <p class="ml-2">Baggage</p>
                                                <span class="ml-1 text-[#4D46FA] font-semibold">20kg</span>
                                            </div>
                                            <div class="flex items-center">
                                                <img src="/assets/imgs/cutlery-2 1.svg" alt="No svg" />
                                                <p class="ml-2">In-flight</p>
                                                <span class="ml-1 text-[#4D46FA] font-semibold">Meal</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pl-3">
                                        <div>
                                            <span class="line-through text-[#9d9d9d]">1,326,000 vnd</span>
                                        </div>
                                        <div>
                                            <span class="text-[#F06336]">1,322,000 vnd</span>
                                        </div>
                                    </div>
                                    <div class="pl-3 flex items-center">
                                        <button class="btn-choose-2">Choose</button>
                                    </div>
                                </div>
                                <div class="pt-4">
                                    <div class="flex ml-4">
                                        <span class="text-[#9d9d9d] text-sm font-bold">
                                            FLIGHT DETAIL
                                        </span>
                                        <span class="text-[#4D46FA] text-sm font-bold ml-4 mr-9"><u class="">FARE
                                                INFO</u></span>
                                        <div class="flex items-center">
                                            <hr class="w-[563px]">
                                        </div>
                                    </div>
                                </div>
                                <div class="grid grid-cols-5 mt-4 h-56 pb-9">
                                    <div class="col-span-2">
                                        <div class="flex flex-col">
                                            <div class="ml-4">
                                                <span class="text-lg font-semibold">CONDITIONS</span>
                                            </div>
                                            <div class="flex items-center mt-4">
                                                <div class="">
                                                    <img src="/assets/imgs/Rectangle 20.png" alt="No svg"
                                                        class="ml-4" />
                                                </div>
                                                <div class="flex flex-col ml-3">
                                                    <span class="text-lg font-semibold">BAMBOO AIRWAYS</span>
                                                    <span class="text-xs"><span>QH-183 </span><span>.</span><span>
                                                            Economy</span></span>
                                                </div>
                                            </div>
                                            <div class="ml-4 flex mt-3">
                                                <span class="text-base mr-2">Da Nang</span>
                                                <img src="/assets/imgs/Group 15.svg" alt="No svg" />
                                                <span class="text-base ml-2">Ho Chi Minh City</span>
                                            </div>
                                            <div class="ml-4">
                                                <span class="text-[#4D46FA] text-sm">Economy</span>
                                            </div>
                                            <div class="ml-4 mt-3">
                                                <span>Non - Refundable</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-span-3">
                                        <div>
                                            <div>
                                                <span class="font-bold">PRICE DETAILS</span>
                                            </div>
                                            <div class="flex mb-3">
                                                <div class="mt-3">
                                                    <div class="flex flex-col">
                                                        <span>Adult Basic Fare (x1)</span>
                                                        <span>Tax</span>
                                                        <span>Regular Total Price</span>
                                                        <span class="text-[#F06336]">Save</span>
                                                    </div>
                                                </div>
                                                <div class="mt-3 ml-32">
                                                    <div class="flex flex-col">
                                                        <span class="font-bold">1,326,000 vnd</span>
                                                        <span>included</span>
                                                        <span>1,326,000 vnd</span>
                                                        <span>-4,000 vnd</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr class="w-96">
                                            <div class="flex mt-3">
                                                <div>
                                                    <span>You pay</span>
                                                </div>
                                                <div class="ml-52">
                                                    <span class="text-[#F06336]">1,322,000 vnd</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ticket ml-6 mt-2">
                            <div class="rounded-lg bg-white w-full">
                                <div class="pt-3 flex">
                                    <div class="flex items-center">
                                        <div class="flex">
                                            <div>
                                                <img src="/assets/imgs/pngegg-2 3.png" alt="No svg"
                                                    class="ml-7 object-cover" />
                                            </div>
                                            <span class="font-semibold text-base ml-3">VIETNAM AIRLINES</span>
                                        </div>
                                    </div>
                                    <div class="flex items-center pl-2">
                                        <div class="pl-3">
                                            <span class="text-base font-bold">21:40</span>
                                            <div class="border rounded-xl w-11 bg-[#edecfe] flex justify-center">
                                                <span class="text-base font-bold">DAD</span>
                                            </div>
                                        </div>
                                        <div class="pl-5 flex flex-col">
                                            <span class="mx-auto">1h 30m</span>
                                            <img src="/assets/imgs/Group 9.svg" alt="No svg" />
                                            <span class="mx-auto">Direct</span>
                                        </div>
                                        <div class="pl-5">
                                            <span class="text-base font-bold">23:10</span>
                                            <div class="border rounded-xl w-11 bg-[#edecfe] flex justify-center">
                                                <span class="text-base font-bold">DAD</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pl-3">
                                        <div>
                                            <div class="flex items-center">
                                                <img src="/assets/imgs/suitcase-2 1.svg" alt="No svg" />
                                                <p class="ml-2">Baggage</p>
                                                <span class="ml-1 text-[#4D46FA] font-semibold">20kg</span>
                                            </div>
                                            <div class="flex items-center">
                                                <img src="/assets/imgs/cutlery-2 1.svg" alt="No svg" />
                                                <p class="ml-2">In-flight</p>
                                                <span class="ml-1 text-[#4D46FA] font-semibold">Meal</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pl-3">
                                        <div>
                                            <span class="line-through text-[#9d9d9d]">1,326,000 vnd</span>
                                        </div>
                                        <div>
                                            <span class="text-[#F06336]">1,322,000 vnd</span>
                                        </div>
                                    </div>
                                    <div class="pl-3 flex items-center">
                                        <button class="btn-choose">Choose</button>
                                    </div>
                                </div>
                                <div class="pt-4 pb-5">
                                    <div class="flex ml-4">
                                        <span class="text-[#4D46FA] text-sm font-bold">
                                            FLIGHT DETAIL
                                        </span>
                                        <span class="text-[#9d9d9d] text-sm font-bold ml-4 mr-9">FARE INFO</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ticket ml-6 mt-2">
                            <div class="rounded-lg bg-white w-full">
                                <div class="pt-3 flex">
                                    <div class="flex items-center">
                                        <div class="flex">
                                            <img src="/assets/imgs/Rectangle 20.png" alt="No svg" class="ml-4" />
                                            <span class="font-semibold text-base ml-3">BAMBOO AIRWAYS</span>
                                        </div>
                                    </div>
                                    <div class="flex items-center pl-2">
                                        <div class="pl-3">
                                            <span class="text-base font-bold">21:40</span>
                                            <div class="border rounded-xl w-11 bg-[#edecfe] flex justify-center">
                                                <span class="text-base font-bold">DAD</span>
                                            </div>
                                        </div>
                                        <div class="pl-5 flex flex-col">
                                            <span class="mx-auto">1h 30m</span>
                                            <img src="/assets/imgs/Group 9.svg" alt="No svg" />
                                            <span class="mx-auto">Direct</span>
                                        </div>
                                        <div class="pl-5">
                                            <span class="text-base font-bold">23:10</span>
                                            <div class="border rounded-xl w-11 bg-[#edecfe] flex justify-center">
                                                <span class="text-base font-bold">DAD</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pl-3">
                                        <div>
                                            <div class="flex items-center">
                                                <img src="/assets/imgs/suitcase-2 1.svg" alt="No svg" />
                                                <p class="ml-2">Baggage</p>
                                                <span class="ml-1 text-[#4D46FA] font-semibold">20kg</span>
                                            </div>
                                            <div class="flex items-center">
                                                <img src="/assets/imgs/cutlery-2 1.svg" alt="No svg" />
                                                <p class="ml-2">In-flight</p>
                                                <span class="ml-1 text-[#4D46FA] font-semibold">Meal</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pl-3">
                                        <div>
                                            <span class="line-through text-[#9d9d9d]">1,326,000 vnd</span>
                                        </div>
                                        <div>
                                            <span class="text-[#F06336]">1,322,000 vnd</span>
                                        </div>
                                    </div>
                                    <div class="pl-3 flex items-center">
                                        <button class="btn-choose">Choose</button>
                                    </div>
                                </div>
                                <div class="pt-4 pb-5">
                                    <div class="flex ml-4">
                                        <span class="text-[#9d9d9d] text-sm font-bold">
                                            FLIGHT DETAIL
                                        </span>
                                        <span class="text-[#4D46FA]  text-sm font-bold ml-4 mr-9"><u class="">FARE
                                                INFO</u></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ticket ml-6 mt-2">
                            <div class="rounded-lg bg-white w-full">
                                <div class="pt-3 flex">
                                    <div class="flex items-center">
                                        <div class="flex">
                                            <div>
                                                <img src="/assets/imgs/pngegg-2 3.png" alt="No svg"
                                                    class="ml-7 object-cover" />
                                            </div>
                                            <span class="font-semibold text-base ml-3">VIETNAM AIRLINES</span>
                                        </div>
                                    </div>
                                    <div class="flex items-center pl-2">
                                        <div class="pl-3">
                                            <span class="text-base font-bold">21:40</span>
                                            <div class="border rounded-xl w-11 bg-[#edecfe] flex justify-center">
                                                <span class="text-base font-bold">DAD</span>
                                            </div>
                                        </div>
                                        <div class="pl-5 flex flex-col">
                                            <span class="mx-auto">1h 30m</span>
                                            <img src="/assets/imgs/Group 9.svg" alt="No svg" />
                                            <span class="mx-auto">Direct</span>
                                        </div>
                                        <div class="pl-5">
                                            <span class="text-base font-bold">23:10</span>
                                            <div class="border rounded-xl w-11 bg-[#edecfe] flex justify-center">
                                                <span class="text-base font-bold">DAD</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pl-3">
                                        <div>
                                            <div class="flex items-center">
                                                <img src="/assets/imgs/suitcase-2 1.svg" alt="No svg" />
                                                <p class="ml-2">Baggage</p>
                                                <span class="ml-1 text-[#4D46FA] font-semibold">20kg</span>
                                            </div>
                                            <div class="flex items-center">
                                                <img src="/assets/imgs/cutlery-2 1.svg" alt="No svg" />
                                                <p class="ml-2">In-flight</p>
                                                <span class="ml-1 text-[#4D46FA] font-semibold">Meal</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pl-3">
                                        <div>
                                            <span class="line-through text-[#9d9d9d]">1,326,000 vnd</span>
                                        </div>
                                        <div>
                                            <span class="text-[#F06336]">1,322,000 vnd</span>
                                        </div>
                                    </div>
                                    <div class="pl-3 flex items-center">
                                        <button class="btn-choose">Choose</button>
                                    </div>
                                </div>
                                <div class="pt-4 pb-5">
                                    <div class="flex ml-4">
                                        <span class="text-[#4D46FA] text-sm font-bold">
                                            FLIGHT DETAIL
                                        </span>
                                        <span class="text-[#9d9d9d] text-sm font-bold ml-4 mr-9">FARE INFO</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ticket ml-6 mt-2">
                            <div class="rounded-lg bg-white w-full">
                                <div class="pt-3 flex">
                                    <div class="flex items-center">
                                        <div class="flex">
                                            <img src="/assets/imgs/Rectangle 20.png" alt="No svg" class="ml-4" />
                                            <span class="font-semibold text-base ml-3">BAMBOO AIRWAYS</span>
                                        </div>
                                    </div>
                                    <div class="flex items-center pl-2">
                                        <div class="pl-3">
                                            <span class="text-base font-bold">21:40</span>
                                            <div class="border rounded-xl w-11 bg-[#edecfe] flex justify-center">
                                                <span class="text-base font-bold">DAD</span>
                                            </div>
                                        </div>
                                        <div class="pl-5 flex flex-col">
                                            <span class="mx-auto">1h 30m</span>
                                            <img src="/assets/imgs/Group 9.svg" alt="No svg" />
                                            <span class="mx-auto">Direct</span>
                                        </div>
                                        <div class="pl-5">
                                            <span class="text-base font-bold">23:10</span>
                                            <div class="border rounded-xl w-11 bg-[#edecfe] flex justify-center">
                                                <span class="text-base font-bold">DAD</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pl-3">
                                        <div>
                                            <div class="flex items-center">
                                                <img src="/assets/imgs/suitcase-2 1.svg" alt="No svg" />
                                                <p class="ml-2">Baggage</p>
                                                <span class="ml-1 text-[#4D46FA] font-semibold">20kg</span>
                                            </div>
                                            <div class="flex items-center">
                                                <img src="/assets/imgs/cutlery-2 1.svg" alt="No svg" />
                                                <p class="ml-2">In-flight</p>
                                                <span class="ml-1 text-[#4D46FA] font-semibold">Meal</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pl-3">
                                        <div>
                                            <span class="line-through text-[#9d9d9d]">1,326,000 vnd</span>
                                        </div>
                                        <div>
                                            <span class="text-[#F06336]">1,322,000 vnd</span>
                                        </div>
                                    </div>
                                    <div class="pl-3 flex items-center">
                                        <button class="btn-choose">Choose</button>
                                    </div>
                                </div>
                                <div class="pt-4 pb-5">
                                    <div class="flex ml-4">
                                        <span class="text-[#9d9d9d] text-sm font-bold">
                                            FLIGHT DETAIL
                                        </span>
                                        <span class="text-[#4D46FA]  text-sm font-bold ml-4 mr-9"><u class="">FARE
                                                INFO</u></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ticket ml-6 mt-2">
                            <div class="rounded-lg bg-white w-full">
                                <div class="pt-3 flex">
                                    <div class="flex items-center">
                                        <div class="flex">
                                            <div>
                                                <img src="/assets/imgs/pngegg-2 3.png" alt="No svg"
                                                    class="ml-7 object-cover" />
                                            </div>
                                            <span class="font-semibold text-base ml-3">VIETNAM AIRLINES</span>
                                        </div>
                                    </div>
                                    <div class="flex items-center pl-2">
                                        <div class="pl-3">
                                            <span class="text-base font-bold">21:40</span>
                                            <div class="border rounded-xl w-11 bg-[#edecfe] flex justify-center">
                                                <span class="text-base font-bold">DAD</span>
                                            </div>
                                        </div>
                                        <div class="pl-5 flex flex-col">
                                            <span class="mx-auto">1h 30m</span>
                                            <img src="/assets/imgs/Group 9.svg" alt="No svg" />
                                            <span class="mx-auto">Direct</span>
                                        </div>
                                        <div class="pl-5">
                                            <span class="text-base font-bold">23:10</span>
                                            <div class="border rounded-xl w-11 bg-[#edecfe] flex justify-center">
                                                <span class="text-base font-bold">DAD</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pl-3">
                                        <div>
                                            <div class="flex items-center">
                                                <img src="/assets/imgs/suitcase-2 1.svg" alt="No svg" />
                                                <p class="ml-2">Baggage</p>
                                                <span class="ml-1 text-[#4D46FA] font-semibold">20kg</span>
                                            </div>
                                            <div class="flex items-center">
                                                <img src="/assets/imgs/cutlery-2 1.svg" alt="No svg" />
                                                <p class="ml-2">In-flight</p>
                                                <span class="ml-1 text-[#4D46FA] font-semibold">Meal</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pl-3">
                                        <div>
                                            <span class="line-through text-[#9d9d9d]">1,326,000 vnd</span>
                                        </div>
                                        <div>
                                            <span class="text-[#F06336]">1,322,000 vnd</span>
                                        </div>
                                    </div>
                                    <div class="pl-3 flex items-center">
                                        <button class="btn-choose">Choose</button>
                                    </div>
                                </div>
                                <div class="pt-4 pb-5">
                                    <div class="flex ml-4">
                                        <span class="text-[#4D46FA] text-sm font-bold">
                                            FLIGHT DETAIL
                                        </span>
                                        <span class="text-[#9d9d9d] text-sm font-bold ml-4 mr-9">FARE INFO</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ticket ml-6 mt-2">
                            <div class="rounded-lg bg-white w-full">
                                <div class="pt-3 flex">
                                    <div class="flex items-center">
                                        <div class="flex">
                                            <img src="/assets/imgs/Rectangle 20.png" alt="No svg" class="ml-4" />
                                            <span class="font-semibold text-base ml-3">BAMBOO AIRWAYS</span>
                                        </div>
                                    </div>
                                    <div class="flex items-center pl-2">
                                        <div class="pl-3">
                                            <span class="text-base font-bold">21:40</span>
                                            <div class="border rounded-xl w-11 bg-[#edecfe] flex justify-center">
                                                <span class="text-base font-bold">DAD</span>
                                            </div>
                                        </div>
                                        <div class="pl-5 flex flex-col">
                                            <span class="mx-auto">1h 30m</span>
                                            <img src="/assets/imgs/Group 9.svg" alt="No svg" />
                                            <span class="mx-auto">Direct</span>
                                        </div>
                                        <div class="pl-5">
                                            <span class="text-base font-bold">23:10</span>
                                            <div class="border rounded-xl w-11 bg-[#edecfe] flex justify-center">
                                                <span class="text-base font-bold">DAD</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pl-3">
                                        <div>
                                            <div class="flex items-center">
                                                <img src="/assets/imgs/suitcase-2 1.svg" alt="No svg" />
                                                <p class="ml-2">Baggage</p>
                                                <span class="ml-1 text-[#4D46FA] font-semibold">20kg</span>
                                            </div>
                                            <div class="flex items-center">
                                                <img src="/assets/imgs/cutlery-2 1.svg" alt="No svg" />
                                                <p class="ml-2">In-flight</p>
                                                <span class="ml-1 text-[#4D46FA] font-semibold">Meal</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pl-3">
                                        <div>
                                            <span class="line-through text-[#9d9d9d]">1,326,000 vnd</span>
                                        </div>
                                        <div>
                                            <span class="text-[#F06336]">1,322,000 vnd</span>
                                        </div>
                                    </div>
                                    <div class="pl-3 flex items-center">
                                        <button class="btn-choose">Choose</button>
                                    </div>
                                </div>
                                <div class="pt-4 pb-5">
                                    <div class="flex ml-4">
                                        <span class="text-[#9d9d9d] text-sm font-bold">
                                            FLIGHT DETAIL
                                        </span>
                                        <span class="text-[#4D46FA]  text-sm font-bold ml-4 mr-9"><u class="">FARE
                                                INFO</u></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-span-1">
                        <div class="total">
                            <div class="border rounded-lg w-80 bg-white">
                                <div class="header pl-5 mt-3 mb-3">
                                    <span class="font-bold text-base">YOUR FLIGHTS</span>
                                </div>
                                <hr>
                                <div class="body">
                                    <div class="mt-3 flex items-center">
                                        <div
                                            class="rounded-full flex w-8 h-8 bg-[#979797] ml-4 items-center justify-center">
                                            <span class="font-semibold text-base text-white">01</span>
                                        </div>
                                        <div class="ml-2">
                                            <p class="text-base">Fri, 11 Feb, 2022</p>
                                            <p class="text-base font-medium">Da Nang - Ho Chi Minh</p>
                                        </div>
                                    </div>
                                    <div class="mt-3 flex items-center">
                                        <div>
                                            <img src="/assets/imgs/Rectangle 20.png" alt="No svg" class="ml-4" />
                                        </div>
                                        <div class="ml-2">
                                            <p class="text-base font-medium">BAMBOO AIRWAYS</p>
                                            <p class="text-[#4D46FA]"><u class="">Details</u></p>
                                        </div>
                                    </div>
                                    <div class="mt-3 flex items-center">
                                        <div class="pl-5">
                                            <span class="text-base font-bold">21:40</span>
                                            <div class="border rounded-xl w-11 bg-[#edecfe] flex justify-center">
                                                <span class="text-base font-bold">DAD</span>
                                            </div>
                                        </div>
                                        <div class="pl-5 flex flex-col">
                                            <span class="mx-auto">1h 30m</span>
                                            <img src="/assets/imgs/Group 9.svg" alt="No svg" />
                                            <span class="mx-auto">Direct</span>
                                        </div>
                                        <div class="pl-5">
                                            <span class="text-base font-bold">23:10</span>
                                            <div class="border rounded-xl w-11 bg-[#edecfe] flex justify-center">
                                                <span class="text-base font-bold">DAD</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pl-7 pt-3 pb-5">
                                        <div
                                            class="border rounded-xl w-60 h-14 bg-[#edecfe] flex items-center justify-center">
                                            <span class="text-base font-semibold text-[#4D46FA]">Change departure
                                                flight</span>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="mt-4 flex items-center">
                                        <div
                                            class="rounded-full flex w-8 h-8 bg-[#4D46FA] ml-4 items-center justify-center">
                                            <span class="font-semibold text-base text-white">02</span>
                                        </div>
                                        <div class="ml-2">
                                            <p class="text-base">Sun, 13 Feb, 2022</p>
                                            <p class="text-base font-medium">Ho Chi Minh - Da Nang</p>
                                        </div>
                                    </div>
                                    <div class="mt-5">
                                        <div class="border rounded-b-lg h-20 bg-[#F8F8F8]">
                                            <div class="flex flex-col mt-3 ml-4">
                                                <span class="text-base">Subtotal</span>
                                                <span class="text-base font-medium text-[#F06336]">1,322,000 vnd</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</section>